name: "Feature Test"
on:
  pull_request:
  workflow_dispatch:

jobs:
  feature-test:
    name: "Feature Test"
    uses: "SFDO-Community/standard-workflows/.github/workflows/feature.yml@main"
    secrets:
      dev-hub-auth-url: "${{ secrets.DEV_HUB_AUTH_URL }}"